{% extends 'layout.html.twig' %}

{% block content %}
    <div class="title animated bounce infinite text-center mt-5">
        <h1 class="display-1">Odyssey's Song</h1>
    </div>
    <div id="holder">
    <div class=" button d-grid gap-2 col-4 pt-5 mx-auto">
        <a class="btn border white text-light m-3 fs-4" >Jouer <i class="fas fa-gamepad"></i></a>
        <a class="btn border-white text-light m-3 fs-4 " href="/history">Histoire</a>
        <a class="btn border-white text-light m-3 fs-4" href="/classement">Classement</a>
    </div>
    </div>
{% endblock %}