<footer class="bd-footer text-center text-white">
    <div class="container p-4 pb-0">
        <section class="mb-4">
          <!--  <a class="btn btn-outline-light btn-floating m-1" href="/gameOver" role="button"><i class="fas fa-door-closed"></i></a> -->
        </section>
    </div>
    <div class="text-center p-3" >
        © 2021 Copyright:
        Mathis | Charles | Enzo | Thomas
    </div>
</footer>