<div class="container justify-content-center mt-5 d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://i.pinimg.com/236x/ac/b9/9a/acb99af23c6098d295bc2f03e8969869.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title text-center">Iron Maiden</h5>
            <p class="card-text text-center">Massive créature de pierre vivante, Iron Maiden est issu du coeur de la grande structure ixtali connue sous le nom de Monolithe.</p>
            <div class="text-center">
            <a href="#" class="btn btn-primary justify-content-center">Mon score</a>
            </div>
        </div>
    </div>
</div>