{% extends'layout.html.twig' %}
{% block bodyClass %} history  {% endblock %}
{% block content %}
        <div class="historybody">
        <div id="intro"> Il n'y a pas si longtemps, dans une galaxie proche<br> très proche....</div>
        <div id="logo"></div>
        <div id="scroller">
            <div>
                <p>
                    Dans une période terrestre calme, des évènements inconnus surviennent.
                    Jean michmouch, notre héros, est en proie à d’effroyables extraterrestres.
                    Depuis votre tranquille maisonnette de campagne, vous vous retrouvez
                    dans un étrange endroit aux allures de vaisseau spatial.
                </p>
                <p>
                    Devant vous, un chat, noir, rien de plus banal.
                    Pourtant, il se présente comme étant une race extraterrestre
                    qui se change en la chose la plus rassurante pour la personne à qui il s’adresse.
                    Au contraire, dans le reflet d’une fenêtre, vous n’êtes plus qu’un bloc lumineux,
                    ôté de tout vos traits humains.
                </p>
                <p>
                    Pour espérer redevenir comme avant et rentrer chez vous, vous aller devoir écouter ce que cet étrange chat veut vous dire.
                    Celui-ci vous met aussi tôt au défis de parcourir le vaisseau spatial et de réussir les multitudes épreuves qui vous attendent.
                    Attention à vous, trois erreurs, et il vous éjecte dans le froid glaciale de l’espace.
                    Heureusement pour vous, ces extraterrestres sont friands de musique humaine et veulent vous tester sur vos connaissances musicales.
                    Accrochez vous bien et bon courage à vous ...
                </p>
            </div>
        </div>
        </div>
        </div>
{% endblock %}