{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container justify-content-center mt-5">
<table class="table table-dark  ">
    <thead class="">
    <tr>
        <th scope="col">Top</th>
        <th scope="col">Pseudo</th>
        <th scope="col">Score</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Titix</td>
        <td>2550</td>

    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Enzo</td>
        <td>2000</td>

    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Mathis</td>
        <td>1486</td>

    </tr>
    <tr>
        <th scope="row">4</th>
        <td>Charles</td>
        <td>nul/20</td>

    </tr>
    </tbody>
</table>

    </div>

{% endblock %}